$test: serif
$sans-serif: 'Inter','Helvetica Neue',Helvetica,Arial,sans-serif
$serif: serif
$pre: 'SFMono-Regular',Consolas,'Liberation Mono',Menlo,Courier,monospace

// Colors
$green: #00A678




$link-color: navy
$off-black: #363535
$red: #C95639
$navy: #2b3a3a
