html
  -webkit-font-smoothing: antialiased
body
  font-family: $sans-serif
  font-variation-settings: 'wght' 300
h1
  font-size: 4rem
  text-align: center
  font-variation-settings: 'wght' 700

a
  transition: color, font-variation-settings .2s ease-out


.green
  color: $green

.strong
  font-variation-settings: 'wght' 600
