@import 'simpleLightbox.min.css';
* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
}

html {
  font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-variation-settings: "wght" 300;
  color: #242424;
  font-size: 16px;
}
@media screen and (min-width: 600px) {
  html {
    font-size: 16px;
  }
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 18px;
  }
}

h1 {
  font-size: 4rem;
  text-align: center;
  font-variation-settings: "wght" 700;
}

a {
  transition: color, font-variation-settings 0.2s ease-out;
}

.green {
  color: #00a678;
}

.strong {
  font-variation-settings: "wght" 600;
}

.grid {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr);
  grid-gap: 80px 40px;
  grid-auto-rows: minmax(100px, auto);
}

.two-column-grid {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr);
  grid-gap: 80px 40px;
  grid-auto-rows: minmax(100px, auto);
}
.two-column-grid div {
  background-color: #ffffff;
}
@media screen and (min-width: 1024px) {
  .two-column-grid div {
    background-color: #00a678;
  }
}

#top-bar {
  width: 100%;
  background: #242424;
  color: #ffffff;
  margin: 0;
  padding: 1rem;
  text-align: center;
  box-sizing: border-box;
}
#top-bar p {
  margin: 0;
  padding: 0;
}
#top-bar a {
  color: #ffffff;
  transition: color 0.2s ease-out;
}
#top-bar a:hover {
  color: #00a678;
}

#hero {
  width: 100%;
  min-height: 300px;
  padding: 4rem 0;
  background-color: #00a678;
}
#hero p {
  font-size: 2.375rem;
  color: #ffffff;
}

#step-one, #step-two {
  width: 100%;
  padding: 1rem 0;
  color: #ffffff;
}
#step-one a, #step-two a {
  color: #ffffff;
}
#step-one a:hover, #step-two a:hover {
  font-variation-settings: "wght" 600;
}

#step-one {
  background-color: rgba(0, 166, 120, 0.85);
}

#step-two {
  background-color: rgba(0, 166, 120, 0.7);
}

#main-content {
  padding: 5rem 0;
}

.downloads h1 {
  font-size: 2rem;
  text-align: left;
  padding: 0;
  margin: 1rem 0;
}
.downloads header {
  display: block;
  width: 100%;
  border-bottom: 2px solid #363535;
  margin-bottom: 2rem;
}

.item {
  text-align: center;
}
.item .title {
  font-size: 1.2rem;
  margin: 0.5em 0 0;
}
.item .size {
  font-size: 0.8rem;
  color: #505050;
  margin: 0.35rem;
}
.item a.download {
  color: #00a678;
  transition: color 0.2s ease-out;
  font-variation-settings: "wght" 600;
}

header.logo {
  display: block;
  margin: 10rem auto;
  text-align: center;
}
header.logo img {
  width: 100%;
  max-width: 600px;
}

#footer {
  width: 100%;
  min-height: 18rem;
  background: #242424;
  color: #ffffff;
  margin: 0;
  padding: 4rem 0;
  box-sizing: border-box;
}
#footer p {
  margin: 0;
  padding: 0;
}
#footer a {
  color: #ffffff;
  transition: color 0.2s ease-out;
}
#footer a:hover {
  color: #00a678;
}

/*# sourceMappingURL=main.css.map */
