@import 'reset'
@import 'settings'
@import 'typography'
@import 'grid'

// color variables
$white: #ffffff
$black: #111111

// font variables
$lust: '', serif
$acumin: '', sans-serif

html
  -webkit-font-smoothing: antialiased

body
  color: $black
  font-size: 14px
  @media screen and (min-width: 600px)
    font-size: 16px
  @media screen and (min-width: 1024px)
    font-size: 18px
#hero
  width: 100%
  min-height: 300px
  background-color: $green

.container
  width: 100%
  max-width: 940px
  margin: 0 auto

.item
  .title
    text-align: center
